<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			http-equiv="X-UA-Compatible"
			content="IE=edge"
		/>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<link
			href="../dist/output.css"
			rel="stylesheet"
		/>
		<title>Glosseries</title>
	</head>
	<body>
		<div
			class="grid grid-cols-2 grid-rows-2 bg-main-grey h-full"
			style="grid-template-columns: 320px auto; grid-template-rows: 80px auto"
		>
			<!-- Sidebar -->
			<div class="flex flex-col justify-start row-span-2 px-15 gap-10 pb-10 bg-main-grey">
				<img
					src="../assets/glosseries-logo.png"
					style="width: 280px"
				/>
				<div class="sidebar-menu">
					<h2>Welcome, Rheza!</h2>
				</div>
				<div class="sidebar-menu flex flex-col gap-3">
					<h1>Home</h1>
                    <h1>Browse Series</h1>
					<h1>Your List</h1>
				</div>
				<div class="mt-32 sidebar-menu">
					<h1>Logout</h1>
				</div>
			</div>
			
			<div class="bg-darker-grey flex flex-col px-28 justify-center gap-8 row-span-2">
				<div>
					<h1 class="text-darker-green">You're currently watching...</h1>
					<div
						class="flex gap-5"
						id="card-container"
					>
						<div
							class="flex flex-col items-center rounded-lg shadow-sm hover:scale-110 hover:ease-in"
							id="card"
						>
							<img
								src="../assets/sample-poster.jpg"
								class="w-auto pt-2"
								style="height: auto; width: 100px"
							/>
							<p class="text-sm">Stranger Things</p>
						</div>
						<div
							class="flex flex-col items-center rounded-lg shadow-sm hover:scale-110 hover:ease-in"
							id="card"
						>
							<img
								src="../assets/sample-poster.jpg"
								class="w-auto pt-2"
								style="height: auto; width: 100px"
							/>
							<p class="text-sm">Stranger Things</p>
						</div>
						<div
							class="flex flex-col items-center rounded-lg shadow-sm hover:scale-110 hover:ease-in"
							id="card"
						>
							<img
								src="../assets/sample-poster.jpg"
								class="w-auto pt-2"
								style="height: auto; width: 100px"
							/>
							<p class="text-sm">Stranger Things</p>
						</div>
					</div>
				</div>
				<div>
					<h1 class="text-darker-green">Your watchlist</h1>
					<div
						class="flex gap-5"
						id="card-container"
					>
						<div
							class="flex flex-col items-center rounded-lg shadow-sm hover:scale-110 hover:ease-in"
							id="card"
						>
							<img
								src="../assets/sample-poster.jpg"
								class="w-auto pt-2"
								style="height: auto; width: 100px"
							/>
							<p class="text-sm">Stranger Things</p>
						</div>
						<div
							class="flex flex-col items-center rounded-lg shadow-sm hover:scale-110 hover:ease-in"
							id="card"
						>
							<img
								src="../assets/sample-poster.jpg"
								class="w-auto pt-2"
								style="height: auto; width: 100px"
							/>
							<p class="text-sm">Stranger Things</p>
						</div>
					</div>
				</div>
				<div>
					<h1 class="text-darker-green">You might like...</h1>
					<div
						class="flex gap-5"
						id="card-container"
					>
						<div
							class="flex flex-col items-center rounded-lg shadow-sm hover:scale-110 hover:ease-in"
							id="card"
						>
							<img
								src="../assets/sample-poster.jpg"
								class="w-auto pt-2"
								style="height: auto; width: 100px"
							/>
							<p class="text-sm">Stranger Things</p>
						</div>
						<div
							class="flex flex-col items-center rounded-lg shadow-sm hover:scale-110 hover:ease-in"
							id="card"
						>
							<img
								src="../assets/sample-poster.jpg"
								class="w-auto pt-2"
								style="height: auto; width: 100px"
							/>
							<p class="text-sm">Stranger Things</p>
						</div>
						<div
							class="flex flex-col items-center rounded-lg shadow-sm hover:scale-110 hover:ease-in"
							id="card"
						>
							<img
								src="../assets/sample-poster.jpg"
								class="w-auto pt-2"
								style="height: auto; width: 100px"
							/>
							<p class="text-sm">Stranger Things</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
